<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.INFS3605">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="3605"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ins">
        <activity android:name="com.example.INFS3605.MovieDetailActivity"></activity>
        <activity android:name="com.example.INFS3605.GalleryDetailActivity" />
        <activity android:name="com.example.INFS3605.ReconciliationActivity" />
        <activity android:name="com.example.INFS3605.CommemorationActivity" />
        <activity android:name="com.example.INFS3605.HistoryActivity" />
        <activity android:name="com.example.INFS3605.StolenGenActivity" />
        <activity android:name="com.example.INFS3605.FAQActivity" />
        <activity android:name="com.example.INFS3605.OptionsActivity" />
        <activity android:name="com.example.INFS3605.FollowerActivity" />
        <activity android:name="com.example.INFS3605.EditProfileActivity" />
        <activity android:name="com.example.INFS3605.CommentsActivity" />
        <activity android:name="com.example.INFS3605.PostActivity" />
        <activity android:name="com.example.INFS3605.LoginActivity" />
        <activity android:name="com.example.INFS3605.MainActivity" />
        <activity android:name="com.example.INFS3605.Fragment.EventDetail" />
        <activity android:name="com.example.INFS3605.RegisterActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            tools:ignore="MissingClass" />
        <activity android:name="com.example.INFS3605.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>